
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/_hospedajePlanAlimenticioCreacion.js"></script>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box">
        <div class="contenido-ficha">
            <section>
                <h1 class="text-center">Definir Plan Alimenticio </h1>
            </section>

        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="divDefinicionPlanAlimenticio" class="box">
        <div class="contenido-ficha">
            <div class="item  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Datos básicos (*)</legend>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <div class="form-group">
                                <label class="sr-only" for="txtNombrePlanAlimenticio"></label>
                                <div class="input-group">
                                    <div class="input-group-addon">Nombre:</div>
                                    <input type="text" name="txtNombrePlanAlimenticio" id="txtNombrePlanAlimenticio" class="form-control" placeholder="Ingrese nombre de plan alimenticio" />
                                </div>
                            </div>
                        </div>
                        <div class="row col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
                        <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">Especie:<font size="2" color="red"> </font></div>
                                <select required="" class="form-control" name="cbEspecies" id="cbEspecies">
                                    <option value="">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
                        <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">Condición Médica:<font size="2" color="red"> </font></div>
                                <select required="" class="form-control" name="cbCondicionesMedicas" id="cbCondicionesMedicas">
                                    <option value="">Todos</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="sr-only" for="txtDescripcionPlanAlimenticio"></label>
                            <div class="input-group">
                                <div class="input-group-addon">Descripción:</div>
                                <textarea class="form-control" maxlength="200" rows="2" name="txtDescripcionPlanAlimenticio" id="txtDescripcionPlanAlimenticio"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Criterios de selección</legend>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">Raza:<font size="2" color="red"> </font></div>
                                <select required="" class="form-control" name="cbRazas" id="cbRazas">
                                    <option value="">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
                        <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">Nivel de BMI:<font size="2" color="red"> </font></div>
                                <select required="" class="form-control" name="cbNivelesBMI" id="cbNivelesBMI">
                                    <option value="">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
                        <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">Etapa de vida:<font size="2" color="red"> </font></div>
                                <select required="" class="form-control" name="cbEtapasVida" id="cbEtapasVida">
                                    <option value="">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
                        <div class="row col-lg-1 col-md-1 col-sm-1 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <a href="#" id="AgregarCriterio" class="btn btn-danger" role="button">Agregar criterio</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="divCriterios" class="table-responsive">
                            <table id="tblCriterios" class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Raza</th>
                                        <th>Nivel BMI</th>
                                        <th>Etapa Vida</th>
                                        <th>Quitar</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Programación diaria</legend>
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button id="btn-add-tab" type="button" class="btn btn-primary pull-right">+</button>
                        <!-- Nav tabs -->
                        <ul id="tab-list" class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Día 1</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div id="tab-content" class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <div class="container" style="margin:20px 0">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label for="comidas">Comidas Programadas</label>
                                            <div class="btn-group" data-toggle="buttons" id="comidas">
                                                <label class="btn btn-danger">
                                                    <input type="checkbox">D
                                                </label><label  class="btn btn-danger active">
                                                    <input type="checkbox">A
                                                </label><label  class="btn btn-danger">
                                                    <input type="checkbox">C
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel-group" id="accordion">
                                        @*<div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        Desayuno
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                contenido desayuno.
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                        Almuerzo
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                Contenido Almuerzo.
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                        Cena
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                Contenido Cena.
                                            </div>
                                        </div>*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </fieldset>
            </div>



        </div>


    </div>
</div>


