@model PetCenter.Web.Models.Cesado
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript
{
    @Scripts.Render("~/bundles/PlanAlimenticio")
}
@using (Html.BeginForm("Index", "PlanAlimenticio", FormMethod.Post, new { id = "form1", @class = "form-horizontal" }))
{
    <fieldset>
        <legend><i class="fa fa-th-list"></i> Gestión de Plan alimenticio</legend>
        <div class="panel panel-primary panel-shadow">
            <div class="panel-heading"><i class="fa fa-calendar"></i> Consulta</div>
            <div class="panel-body form-horizontal">
                <div class="form-inline">
                    <div class="col-md-12">

                        <div class="col-md-6">
                            <button id="btnBuscar" class="btn btn-primary" autofocus>
                                <span class="glyphicon glyphicon-search"></span> Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ErrorSummary">
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                </div>
            </div>

        </div>
        <div>
            <table id="jqGrid_lista_A"></table>
            <div id="jqGrid_pager_A"></div>
        </div>
    </fieldset>
}