@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<table>
    <tr>paterno</tr>
    <tr>materno</tr>
    <tr>apellidos</tr>
    @foreach (var cesado in ViewBag.listaCesados)
    {
        <tr>
            <td>@cesado.apellidopaterno</td>
            <td>@cesado.apellidomaterno</td>
            <td>@cesado.apellidos</td>
    </tr>
    }
</table>
</body>
</html>
