<div class="card">
  <div class="card-header">
    <h3>Criterios de Selección</h3>
  </div>
  <div class="card-block container">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="raza">Raza</label>
        <select id="raza" class="form-control" [(ngModel)]="seleccion.raza">
          <option value="-1">Seleccionar</option>
          <option *ngFor="let raza of razas" [value]="raza.id">{{raza.nombre | titlecase}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="nivel_bmi">Nivel de BMI</label>
        <select id="nivel_bmi" class="form-control" [(ngModel)]="seleccion.nivelBMI">
          <option value="-1">Seleccionar</option>
          <option *ngFor="let nivel_bmi of niveles_bmi" [value]="nivel_bmi.id">{{nivel_bmi.nombre | titlecase}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="etapa_vida">Etapa de Vida</label>
        <select id="etapa_vida" class="form-control" [(ngModel)]="seleccion.etapaVida">
          <option value="-1">Seleccionar</option>
          <option *ngFor="let etapa_vida of etapas_vida" [value]="etapa_vida.id">{{etapa_vida.nombre | titlecase}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="agregarCriterio()">Agregar Criterio</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Raza</th>
              <th>Nivel BMI</th>
              <th>Etapa Vida</th>
              <th>Quitar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="criterios.length==0">
              <td colspan="4" class="text-center">No se ingresaron criterios, debe ingresar por lo menos uno</td>
            </tr>
            <tr *ngFor="let criterio of criterios; let i=index">
              <td>
                {{getNombreRaza(criterio.raza) | titlecase}}
              </td>
              <td>
                {{getNombreNivelBMI(criterio.nivelBMI) | titlecase}}
              </td>
              <td>
                {{getNombreEtapaVida(criterio.etapaVida) | titlecase}}
              </td>
              <td>
                <button class="btn-link" (click)="quitarCriterio(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
