<div class="card">
  <div class="card-block">
    <h3>Programación Diaria</h3>
    <ngb-tabset  (tabChange)="beforeChange($event)">
      <ngb-tab *ngFor="let programacionDia of programacionesDia" title="Día {{programacionDia.numeroDia}}">
        <ng-template ngbTabContent>
          <gha-panel-programacion-dia [programacionDia]="programacionDia"></gha-panel-programacion-dia>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="+" id="add-day">
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
