<div class="card">
  <div class="card-block">
    <h3>Programación Diaria</h3>
    <ngb-tabset #t="ngbTabset" (tabChange)="beforeChange($event,t)">
      <ngb-tab *ngFor="let programacionDia of programacionesDia" id="dia{{programacionDia.numeroDia}}">
        <ng-template ngbTabTitle>Día {{programacionDia.numeroDia}}</ng-template>
        <ng-template ngbTabContent>
          <gha-panel-programacion-dia [programacionDia]="programacionDia"></gha-panel-programacion-dia>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="+" id="add-day">
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
