<div class="row">
  <div class="col-md-12">

  </div>
  <div class="col-md-12">
    <table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Especie</th>
      <th>Estado Salud</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="filteredPlanesAlimenticios.length==0">
      <td colspan="4" class="text-center">No se ingresaron criterios, debe ingresar por lo menos uno</td>
    </tr>
    <tr *ngFor="let planAlimenticio of filteredPlanesAlimenticios; let i=index">
      <td>
        {{planAlimenticio.nombre}}
      </td>
      <td>
        {{planAlimenticio.especie}}
      </td>
      <td>
        {{planAlimenticio.condicionMedica}}
      </td>
      <td>
        <button class="btn-link" [routerLink]="['/planesAlimenticios',planAlimenticio.id]">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn-link">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>

